<div id="header-container" [ngClass]="requestIsInProgress? 'request-is-in-progress' : 'request-is-not-in-progress'">
    <div id="system-logo">
        <img src="././././assets/images/system-logo.jpeg" alt="Logo">
    </div>
    
    <div *ngIf="userIsLoggedIn" id="account-panel" class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false" style="align-self: center;">
            <section style="display: inline-flex; justify-content: flex-start; ">
                <mat-icon id="nav-icon" fontIcon="account_circle" style="margin-right: 10px;"></mat-icon>
                <span style="margin-right: 10px;">{{userDataToken.firstName}} {{userDataToken.lastName}}</span>
            </section>
        </button>
        <ul class="dropdown-menu dropdown-menu-dark ">
            <li><a class="dropdown-item">Rol: {{userDataToken.role}}</a></li>
            <li><a class="dropdown-item">Locație: {{locationIdentifyer}}</a></li>
             <li>
                <a class="dropdown-item" (click)="signOut()" style="display: inline-flex;">
                    <mat-icon id="nav-icon" fontIcon="exit_to_app" style="margin-right: 10px;"></mat-icon>
                    Deconectează-te
                </a>
            </li>
        </ul>
    </div>
</div>
<div class="mat-progress-bar-container" *ngIf="requestIsInProgress">
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
</div>