$buttonColor: #20a8d8;
$buttonBorderRadius: 0.4rem;
$buttonHeight: 7vh;
$buttonWidth: 20vh;
$buttonBorderColor: #e4e5e7;

#sign-in-formular form {
    display: flex;
    flex-flow: column;
    width: 400px;
}

#sign-in-formular form .input-form-sign-in {
    margin-bottom: 20px;
}

#sign-in-formular form .submit-button {
    border-radius: $buttonBorderRadius;
    border: 2px solid $buttonBorderColor;
    background-color: $buttonColor;
    color: white;
    font-weight: bold;
    width: $buttonWidth;
    height: $buttonHeight;
    align-self: center;
    margin-top: 20px;
}

#sign-in-formular form .submit-button:hover {
    border: 2px solid gray;
}

#sign-in-formular h1 {
    margin-bottom: 40px;
    margin-top: 30px;
}

#sign-in-formular {
    display: flex;
    flex-flow: column;
    align-items: center;
    background-color: white;
    border-radius: 0.6rem;
    border: 1px solid lightgray;
    padding: 0 0 30px 0;
    margin: 10vh;
}

#sign-in-formular .hide-password-button {
    background-color: white;
    border: 0px;
}

.request-is-in-progress {
    background-color: lightgray !important;
    border-top-right-radius: 0 !important;
    border-top-left-radius: 0 !important;
}

.request-is-not-in-progress {
    background-color: white;
    border-radius: 0.6rem;
}

mat-form-field {
    margin-bottom: 2vh;
}

// Responsive style
@media (max-width: 499px) { 
    #sign-in-formular {
        margin: 3vh;
        height: 85vh;
    }

    #sign-in-formular .formular {
        width: 90%;
        height: 100%;
    }
    #sign-in-formular .formular button {
        margin-top: 25vh;
    }
}

@media (min-width: 500px) and (max-width: 699px) {
    #sign-in-formular {
        margin: 5vh;
        height: 70vh;
    }

    #sign-in-formular .formular {
        width: 90%;
        height: 100%;
    }
    #sign-in-formular .formular button {
        margin-top: 25vh;
    }
}

@media (min-width: 700px) and (max-width: 899px) {
    #sign-in-formular {
        margin: 8vh;
        height: 70vh;
    }

    #sign-in-formular .formular {
        width: 90%;
        height: 100%;
    }
    #sign-in-formular .formular button {
        margin-top: 25vh;
    }
}