$buttonBorderColor: #e4e5e7;
$buttonBorderRadius: 0.4rem;

#buttons-options {
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    /* height: 60px; */
    /* border-bottom: 2px solid gray; */
}

.entry-fitness-center, .exit-fitness-center {
    border-radius: 0.4rem;
    border: 2px solid #e4e5e7;
    background-color: #20a8d8;
    color: white;
    font-weight: bold;
    font-size: 3rem;
    width: 70vh;
    height: 20vh;
    align-self: center;
    margin: 7vh
}

.entry-fitness-center:hover, .exit-fitness-center:hover {
    border: 2px solid gray;
    cursor: pointer;
    color: black;
    font-weight: 900;
}

button img {
    width: 70px;
}

#qrcode-scanner {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-top: 20px;
    height: 75vh;
}

.camera-loading {
    display: flex;
    justify-content: center;
}

mat-icon {
    height: 35px;
    align-self: center;
    font-size: 2.3rem;
    margin-right: 20px;
    width: 35px;
}

#camera-header {
    display: flex;
    justify-content: space-between;
}

.back-btn {
    border-radius: 0.4rem;
    border: 2px solid #e4e5e7;
    background-color: #20a8d8;
    color: white;
    font-weight: bold;
    font-size: 2rem;
    width: 30vh;
    height: 6vh;
    align-self: center;
}

.back-btn:hover, .btn:hover, .submit-button:hover {
    border: 2px solid gray;
    cursor: pointer;
}

.btn {
    background-color: #20a8d8;
}

#qrcode-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 3vh;
}

#qrcode-component {
    border-radius: $buttonBorderRadius;
    border: 2px solid $buttonBorderColor;
    width: 90vh;
    height: 85vh;
    background-color: white;
    margin: auto;
    margin-top: 3vh;
}

::ng-deep video {
    width: 1000px !important;
    object-fit: contain;
}

.info-scanner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.request-is-in-progress {
    background-color: lightgray !important;
    border-top-right-radius: 0 !important;
    border-top-left-radius: 0 !important;
}

.request-is-not-in-progress {
    background-color: white;
    border-radius: 0.6rem;
}

.system-logo-img {
    width: 10vh;
}

ngx-scanner-qrcode {
    align-self: center;
}

// Responsive style
@media (max-width: 499px) { 
    #qrcode-component {
        width: 90%;
        height: 85vh;
        margin: auto;
        margin-top: 5vh;
    }

    .entry-fitness-center, .exit-fitness-center {
        font-weight: bold;
        font-size: 1.25rem;
        width: 80%;
        height: 12vh;
        margin: 4vh;
    }

    .system-logo-img {
        width: 6vh;
    }

    .back-btn {
        font-size: 0.8rem;
        width: 30vh;
    }

    .location-name {
        font-size: smaller;
    }

    #camera-header h2 {
        font-size: 2.5vh;
    }

    #camera-header {
        flex-direction: column;
        align-items: center;
    }

    #qrcode-scanner button img {
        width: 30px;
    }

    #qrcode-scanner {
        height: 70vh;
        margin-top: 0;
    }

    .camera-loading {
        font-size: 1.2rem;
    }

    #qrcode-container {
        height: inherit;
    }

    #buttons-options {
        height: 70vh;
        margin-top: 10vh;
    }

    ::ng-deep video {
        width: 300px !important;
        height: 300px !important;
    }
}

@media (min-width: 500px) and (max-width: 699px) {
    #qrcode-component {
        width: 90%;
        height: 70vh;
        margin: auto;
        margin-top: 5vh;
    }

    .entry-fitness-center, .exit-fitness-center {
        font-weight: bold;
        font-size: 2rem;
        width: 80%;
        height: 12vh;
        margin: 4vh;
    }

    .system-logo-img {
        width: 9vh;
    }

    .back-btn {
        font-size: 1.3rem;
        width: 30vh;
    }

    .location-name {
        font-size: x-larger;
    }

    #camera-header h2 {
        font-size: 2.5vh;
    }

    #camera-header {
        flex-direction: column;
        align-items: center;
    }

    #qrcode-scanner button img {
        width: 40px;
    }

    #qrcode-scanner {
        height: 70vh;
        margin-top: 0;
    }

    .camera-loading {
        font-size: 1.2rem;
    }

    #qrcode-container {
        height: inherit;
    }

    #buttons-options {
        height: 70vh;
    }

    ::ng-deep video {
        width: 420px !important;
        height: 375px !important;
    }
}

@media (min-width: 700px) and (max-width: 899px) {
    #qrcode-component {
        width: 90%;
        height: 70vh;
        margin: auto;
        margin-top: 5vh;
    }

    .entry-fitness-center, .exit-fitness-center {
        font-weight: bold;
        width: 80%;
        height: 12vh;
        margin: 4vh;
    }

    .back-btn {
        width: 40vh;
    }

    #camera-header h2 {
        font-size: 2.5vh;
    }

    #camera-header {
        flex-direction: column;
        align-items: center;
    }

    #qrcode-scanner button img {
        width: 55px;
    }

    #qrcode-scanner {
        height: 70vh;
        margin-top: 0;
    }

    .camera-loading {
        font-size: 1.2rem;
    }

    #qrcode-container {
        height: inherit;
        padding-bottom: 1.5vh;
    }

    #buttons-options {
        height: 70vh;
    }

    ::ng-deep video {
        width: 580px !important;
        height: 435px !important;
    }
}

@media (min-width: 900px) and (max-width: 1200px) {
    #qrcode-component {
        width: 90%;
        height: 90vh;
        margin: auto;
        margin-top: 5vh;
    }

    .entry-fitness-center, .exit-fitness-center {
        font-weight: bold;
        width: 80%;
        height: 12vh;
        margin: 4vh;
    }

    .back-btn {
        width: 40vh;
    }

    #camera-header h2 {
        font-size: 2.5vh;
    }

    #camera-header {
        flex-direction: column;
        align-items: center;
    }

    #qrcode-scanner button img {
        width: 55px;
    }

    #qrcode-scanner {
        height: 70vh;
        margin-top: 0;
    }

    .camera-loading {
        font-size: 1.2rem;
    }

    #qrcode-container {
        height: inherit;
        padding-bottom: 1.5vh;
    }

    #buttons-options {
        height: 70vh;
    }

    ::ng-deep video {
        width: 700px !important;
        height: 525px !important;
    }
}