/* You can add global styles to this file, and also import other style files */
@import 'material-icons/iconfont/material-icons.css';
/* You can add global styles to this file, and also import other style files */
@import "../node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css";

* {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    background-color: gray;
    height: 99vh;
}